.hellow {
    width: -moz-fit-content;
    width: fit-content;
    padding: 2rem;

    background: linear-gradient(135deg, #ce0300, #ddd25d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 3.5rem;
}
